.onboard {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .on_board_header
    {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        padding: 0 20px;
        max-height: 56px;
        .logo {
            img {
                max-height: 36px;
                padding-left: 50px;
                margin: 10px;
            }
        }
    }
    .on_board_body {
        position: absolute;
        width: 100%;
        height: calc(100% - 100px);
        left: 0;
        top: 56px;
        right: 0;
        bottom: 0;
        background: #fff;

        .onboard_container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            overflow: auto;
            width: 40%;
            height: 90%;
            h2 {
                color: #707070;
                font-size: 25px;
                font-weight: normal;
                letter-spacing: 0.01em;
                font-family: SourceSansProLight;
            }
        }
        .termsandconditions_text{
            position: relative;
            height: calc(100% - 140px);
            margin: 20px 0px 0px;
            background: none;
            overflow: auto;
            padding: 0;
            line-height: 20px;
            color: #5a5a5a;
            font-weight: normal;
            font-family: SourceSansProLight;
        }
        .on_board_footer {
            position: relative;
            padding: 0;
            display: flex;
            margin-top: 25px;
            bottom: 0;
        }
    }

    
    
}

.onboard_select_image {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: left;
            height: 100px;
            width: 100px;
            background: #707070;
            margin: 10px;
            margin-left: 0;
            cursor: pointer;

            img {
                max-width: 100%;
            }

        }
    }
}