  // Here you can add other styles
  @font-face {
    font-family: 'SourceSansProRegular';
    src: url('static/fonts/SourceSansPro-Regular.otf');
  }

  @font-face {
    font-family: 'SourceSansProLight';
    src: url('static/fonts/SourceSansPro-Light.otf');
  }
  
  @font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('static/fonts/SourceSansPro-ExtraLight.otf');
  }

  @font-face {
    font-family: 'SourceSansProBold';
    src: url('static/fonts/SourceSansPro-Bold.otf');
  }
